<!DOCTYPE html>

<html>
<head>
  <meta http-equiv="CONTENT-TYPE" content="text/html; charset=UTF-8">
  <title>Hello, World!</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style4.css') }}">
  <a href="/admin_product">Back</a>
</head>
<body>
  <form method="POST" enctype="multipart/form-data">
    {{ form.hidden_tag() }}

    {{ form.name(placeholder="Enter Product name") }}<br><br>

    {{ form.image.label }}
    {{ form.image() }}<br><br>

    {{ form.price(placeholder="Enter Product price") }}<br><br>

    {{ form.description(placeholder="Enter Product description") }}<br><br>
    <h6> {{ type_error }} </h6>
    <h6> {{ size_error }} </h6>
    {{ form.send() }}
</form>
  
</body>
</html>
