<!DOCTYPE html>

<html>
<head>
  <meta http-equiv="CONTENT-TYPE" content="text/html; charset=UTF-8">
  <title>Edit Product</title>
</head>
<body>
  <h1>Edit Product</h1>
  
  <form method="POST" enctype="multipart/form-data">
    {{ form.hidden_tag() }}
    
    {{ form.name(placeholder="Enter Product name", value=product.name if product else '') }}<br><br>

    {{ form.image.label }}
    {{ form.image() }}<br><br>

    {{ form.price(placeholder="Enter Product price", value=product.price if product else '') }}<br><br>

    {{ form.description(placeholder="Enter Product description", value=product.description if product else '') }}<br><br>

    {{ form.update() }}
    
  </form>
  
</body>
</html>